.Text {
    padding: 2px;
    margin: 2px 2px;
    width: 60px;
    display: flex;
    text-transform: capitalize;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    text-shadow: 0 1px 1px #807870;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}