.PokemonEvolutionChain {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    border: 4px solid black;
    border-radius: 40px; 
    box-sizing: border-box;
    overflow: hidden;
}

.PreContainer, .MiddleContainer, .PostContainer {
    /* transform: scale(0.7); Igual que: scaleX(0.7) scaleY(0.7) */
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.EvolutionCard {
    margin: 20px 5px 20px 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;
}

/* .PokeName {
    font-family: 'poppins';
    text-transform: capitalize;
    font-weight: 600;
    margin: 0px;
    padding: 5px 0px;
    font-size: 115%;
    box-sizing: border-box;
} */

.ArrowDown {
    display: inline-block;
    height: 16px;
    width: 16px;
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    color: white;
    box-sizing: border-box;
}

.ArrowMargins {
    margin-top: 0px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.BoxTitle {
    font-family: 'poppins';
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 125%;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 2px;
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {
.PokemonEvolutionChain {
    grid-area: evolu;
}
}


@media (min-width: 992px) {
    .PokemonEvolutionChain {
        margin:0 auto;
        width: 95%;
    }
    .EvolutionBox {
        display: flex;
        flex-flow: row;
    }
    .ArrowDown {
        transform: rotate(-45deg);
    }
    .ArrowMargins {
        margin: auto;
    }
}