.PokemonIngameSpritesContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    font-family: 'poppins';
    margin: 15px auto;
    box-sizing: border-box;
}

.Card {
    border: 4px solid black;
    border-radius: 40px;
    overflow: hidden;
    width: 100%;
    margin: 15px auto;
    box-sizing: border-box;
}

.InfoWindow {
    background-color: white;
    margin: 0px 0;
    border-radius: 0 0 24px 24px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-sizing: border-box;

}

.BoxTitle {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 125%;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.BoxTitleBottom {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-size: 125%;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 2px;
    width: 100%;
    box-sizing: border-box;

}

.SpriteBox {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;

}
.typeImgContainer {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.typeImg{
    width: 40%;
    margin: 5px auto;
}

@media (min-width: 768px) {
    .PokemonIngameSpritesContainer {
        grid-area: sprite;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .Card {
        margin: 0px 0;
        width: 30%;
    }


}

@media (min-width: 992px) {
    .PokemonIngameSpritesContainer {
        width: 100%;
        padding: 0 2.5%;
        margin: 0;
        justify-content: space-between;
    }
    .Card {
        width: 30%;
    }
}