
.SpritesContainerBorder {
    border-radius: 50%;
    background-color: #ddd;
    padding: 10px;
    cursor: pointer;

}

.SpritesContainer {
    background-color: white;
    border-radius: 50%;
    width: 100%;
    cursor: pointer;

}

img {
    max-width:100%;
    height:auto;
}
