.WhoIsThatContainerBackGround {
    height: 100%;
}
.WhoIsThatContainer {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;

    grid-template-areas:
    "score    score    score    title    title    title    title    title    title    result   result   result"
    "image    image    image    image    image    image    image    image    image    image    image    image"
    "guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt"
    "optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns"
    "chosBut  chosBut  chosBut  chosBut  chosBut  chosBut  playBut  playBut  playBut  playBut  playBut  playBut"
    "gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel"
    "saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt  saveBtt"
    "topSc    topSc    topSc    topSc    topSc    topSc    topSc    topSc    topSc    topSc    topSc    topSc"
    "timeL    timeL    timeL    timeL    timeL    timeL    timeL    timeL    timeL    timeL    timeL    timeL"
    "share    share    share    share    share    share    share    share    share    share    share    share"

}

.SaveScoreButton {
    height: 52px;
    grid-area: saveBtt;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: rgb(33, 150, 243);
    padding: 10px;
    font-size: 150%;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}
.SaveScoreButton:hover{
    background-color: #86c6f6;
}
.SaveScoreButton:focus{
    background-color: #86c6f6;
    outline: none;
}

.TopScores {
    grid-area: topSc;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    overflow: scroll;
    height: 80px;

}

.UserScoreContainer {
    color: black;
    padding: 6px 10px;
    border-right: 1px solid black;
    box-sizing: border-box;
    background-color: cadetblue;
    height: 100%;
    font-size: 150%;

}

.UserScoreContainer:nth-child(2) {
    background-color: #D6AF36;
}
.UserScoreContainer:nth-child(3) {
    background-color: #A7A7AD;
}
.UserScoreContainer:nth-child(4) {
    background-color: #A77044;
}
.UserScoreContainer:last-child() {
    border-right: none;
}


.UserScoreName {
    color: black;
    font-weight: 700;
}

.TwitterTimeline {
    width: 100%;
    display: flex;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    grid-area: timeL;
    margin: 15px auto;
}

.WhoIsThatTextContainer {
    grid-area: title;
    width: 100%;
    margin: 15px auto 15px auto;
    background-color: rgb(33, 150, 243);
    border-radius: 10px;
    padding: 30px 15px;
    border: 2px solid black;
    box-sizing: border-box;
}

.WhoIsThatText{
    margin: auto auto;
    font-weight: 500;
    font-size: 130%;
}

/* 2nd Grid --- Image Positioning -Start */

.ImageBlock {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    grid-area: image;
}

.WhoIsThatPokeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.WhoIsThatPokeBackground{
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;

    height: auto;

    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 10;
}
.WhoIsThatPoke{
    margin: 0 auto;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 8 ;
}
/* 2nd Grid --- Image Positioning -END */

.Black {
    transition: none;
}

.GuessTextContainer {
     
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    margin:0 auto;
    width: 100%;
    margin-top: 15px;
    transition: 1.5s;
    border: 2px solid black;
    box-sizing: border-box;
    grid-area: guessTxt;

}

.GuessText{
    margin: auto 10px auto 5px;
}


.InputContainer {
    width: 100%;
    margin: auto 0;
    display: inline-block;
    margin-right: 30px;

}

.Input {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    font-size: 110%;
    padding: 8px 5px 5px 10px;
}

.GuessButtonContainer {
    position: relative;
    top: 1px;
}

.GuessButton {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid gray;
    font-weight: 500;
    border-radius: 10px;
    padding: 8.5px 10px;
    font-size: 90%;
    box-sizing: border-box;
}
.GuessButton:hover {
    background-color: #eee;
}


.ScoreBoardContainer {
    margin: 15px 0 15px 0;
    display: flex;
    grid-area: score;

}

.ScoreBoard {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    background-color: #252525;
    border-radius: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
}

.ScoreTitle {
    margin: 0 auto;
    font-weight: 600;
    font-size: 110%;
    padding: 10px 0;
    color: white;
}


.ScoreNumber {
    width: 75%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 160%;
    color: rgb(79, 187, 16);
    background-color: #1b1b1b;
    border-radius: 5px;
    border: 1px solid black;
    text-shadow: 2.5px 2px 2px rgba(0, 0, 0, 0.7);
    transition: 2s;
}

.ResultBoardContainer {
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-evenly;
    grid-area: result;
}



.Result {
    margin: 0 auto;
}


.ResultBoard {
    background-color: #252525;
    width: 150px;
    border-radius: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    margin: 10px 5px    
}

.ResultWrong {
    margin: 0 auto;
    color: red;
}

.ChooseGenButton {
    grid-area: chosBut;
    width: 100%;
    margin: 15px auto;
    background-color: rgb(33, 150, 243);
    padding: 10px;
    font-size: 150%;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}
.ChooseGenButton:hover{
    background-color: #86c6f6;
}
.ChooseGenButton:focus{
    background-color: #86c6f6;
    outline: none;
}

.PlayAgainButton {
    grid-area: playBut;
    width: 100%;
    margin: 15px auto;
    background-color: rgb(33, 150, 243);
    padding: 10px;
    font-size: 150%;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;

}
.PlayAgainButton:hover{
    background-color: #86c6f6;
}
.PlayAgainButton:focus{
    background-color: #86c6f6;
    outline: none;
}


.gameOverText {
    margin: 15px auto;
    background-color: rgb(33, 150, 243);
    padding: 10px;
    font-size: 150%;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 800;

    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 6;
}

.OptionsList{
    grid-area: optns;
    margin-top: 5px;
    
}

.InputOption {
    width: 100%;
    background-color: #ddd;
    margin-top: 2px;
    font-size: 150%;
    font-weight: 500;
    padding: 5px 0px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-sizing: border-box;
}
.InputOption:hover {
    background-color: #eee;

}
.InputOption:focus {
    background-color: #fff;
    border: 3px solid black;
    outline: none;
}

.SharingContainer{
    grid-area: share;
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    align-items: center;
}

.ShareText {
    font-size: 150%;
    font-weight: 600;
    box-sizing: border-box;
}

.ShareLogos{
    display: flex;
}

.TwitterLogoContainer {
    margin: 0 5px;
    display: flex;
    height: 64px;
}

.TwitterLogo {
    cursor: pointer;
    width: 64px;
    min-width: 64px;
}

.FacebookLogoContainer {
    margin: 0 5px;
    display: flex;
    height: 64px;
}

.FacebookLogo {
    cursor: pointer;
    width: 64px;
    min-width: 64px;
}

/* -------------------- CHECKBOX ------------------*/

.SelectGenContainer {
    grid-area: gnsel;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.ChooseGenText {
         
    display: inline-block;
    font-size: 160%;
    font-weight: 800;
    padding: 5px 10px;

}

.PlayText {
    display: inline-block;
    font-size: 120%;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid black;
    cursor: pointer;
    background-color: rgb(33, 150, 243);
}
.PlayText:hover{
    background-color: #86c6f6;

}
.PlayText:focus{
    background-color: #86c6f6;
    border: 4px solid black;
    outline: none;
}

.SelectBoxes {
    width: auto;
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.GenLabelContainer{
    width: 45%;
    box-sizing: border-box;
    margin: 10px 2.5%;


}
.Label {
    width: auto;
    cursor: pointer;
    font-size: 22px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 5px;
    padding-top: 10px;
    background-color: #ddd;
    display: flex;
    display:inline-block;
    box-sizing: border-box;
    justify-content: center;
}
.Label:hover{
    background-color: #eee;
}
.Label:focus{
    background-color: rgb(240, 240, 240);
    border: 4px solid black;
    outline: none;
}


.PokeSmallSprite {
    width: 64px;
    height: auto;
    position: relative;
    bottom: 6px;
    margin: 0 2px;
}

.ScoreForm {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
}

.ScoreInput {
    border-radius: 10px;
    width: 45%;
    margin: 0 auto;
    font-size: 110%;
    padding: 8px 5px 5px 10px;
    box-sizing: border-box;
}
.ModalScoreText{
    font-size: 150%;
    font-weight: 800;
}
.ModalInfoText{
    font-size: 120%;
    font-weight: 600;
}
.ModalSaveButtons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: 20px;
}
.ModalConfirmSaveScoreButton {
    color: green;
    background: none;
    border: none;
    font-size: 120%;
    font-weight: 600;
    cursor: pointer;
}
.ModalCancelSaveScoreButton {
    color: red;
    background: none;
    border: none;
    font-size: 120%;
    font-weight: 600;
    cursor: pointer;
}
  
@media (min-width: 851px) {
    
    .GenLabelContainer {
        width: 28%;
    }
    
    .PlayText{
        width: 280px;
        margin: 15px auto 15px auto;
    }

    .PokeSmallSprite {
        width: 128px;
    }
    
    .OptionsList {
        display: flex;
        flex-flow: row wrap;
        background-color: #aaa;
        border: 2px solid black;
        border-radius: 10px;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 15px;
    }
    .InputOption {
        width: 22.5%;
        box-sizing: border-box;
        margin: 2px 1.25%;
    }

}

@media (min-width: 992px) {
    .WhoIsThatContainer {

        grid-template-areas:
        "score    score    score    title    title    title    title    title    title    result   result   result"
        "topSc    topSc    image    image    image    image    image    image    image    image    timeL    timeL"
        "topSc    topSc    guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt timeL    timeL"
        "optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns"
        "chosBut  chosBut  chosBut  chosBut  playBut  playBut  playBut  playBut  saveBtt  saveBtt  saveBtt  saveBtt"
        "share    share    share    share    share    share    share    share    share    share    share    share"
        "gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel";

        grid-template-areas:
        "score    score    score    title    title    title    title    title    title    result   result   result"
        "topSc    topSc    image    image    image    image    image    image    image    image    timeL    timeL"
        "topSc    topSc    guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt guessTxt timeL    timeL"
        "optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns    optns"
        
        "none     none     chosBut  chosBut  playBut  playBut  playBut  playBut  saveBtt    saveBtt    none2  none2"
        
        "share    share    share    share    share    share    share    share    share    share    share    share"
        "gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel    gnsel"

    }
    .GenLabelContainer {
        width: 20%;
    }
    .PokeSmallSprite {
        width: 128px;
    }
    
    .TwitterTimeline {
        margin: 0;
    }

    .TopScores {
        display: flex;
        flex-flow: column;
        overflow-x: hidden;

        height: 400px;
        background-color: cadetblue;

    }

    .TopScores::-webkit-scrollbar {
        width: 10px;
        background: rgb(5, 132, 136);
        background-color: transparent;
        border-radius: 10px;

    }
    .TopScores::-webkit-scrollbar-thumb {
        background: rgba(255,255,255, .2);
        border-radius: 10px;

    }

    .UserScoreContainer {
        width: 100%;
        height: 80px;
        box-sizing: border-box;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid black;

    }

    .UserScoreContainer:first-child {
        border-bottom: 2px solid black;
    }

    .UserScoreContainer:last-child{
        border-bottom: none;
    }

    .SaveScoreButton {
        margin: 15px auto;
        margin-top: 15px;
        height: auto;
    }

    .gameOverText {
        font-size: 250%;
        font-weight: 800;
    }
}

